{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/repos?access_token=<ACCESS TOKEN>","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-ratelimit-limit":["5000"], "etag":["\"f71b158e15391cda7f54fca7c1abd80f\""], "x-oauth-scopes":[""], "x-ratelimit-remaining":["4999"], "x-accepted-oauth-scopes":["repo"]},"body":{"encoding":"US-ASCII","string":"[{\"mirror_url\":null,\"pushed_at\":\"2012-03-14T20:42:16Z\",\"homepage\":\"\",\"svn_url\":\"https://github.com/cdidyk/hellogitworld\",\"has_issues\":false,\"updated_at\":\"2012-03-14T20:53:19Z\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"forks\":0,\"has_downloads\":true,\"ssh_url\":\"git@github.com:cdidyk/hellogitworld.git\",\"language\":\"Groovy\",\"clone_url\":\"https://github.com/cdidyk/hellogitworld.git\",\"git_url\":\"git://github.com/cdidyk/hellogitworld.git\",\"fork\":true,\"created_at\":\"2012-03-14T20:53:19Z\",\"url\":\"https://api.github.com/repos/cdidyk/hellogitworld\",\"has_wiki\":true,\"size\":2244,\"private\":false,\"description\":\"Git Workshop Test Repo\",\"owner\":{\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/cdidyk\",\"id\":13943,\"login\":\"cdidyk\"},\"name\":\"hellogitworld\",\"watchers\":1,\"html_url\":\"https://github.com/cdidyk/hellogitworld\",\"id\":3722211,\"open_issues\":0},{\"mirror_url\":null,\"pushed_at\":\"2011-03-31T22:01:53Z\",\"homepage\":\"http://rdoc.info/projects/zmoazeni/harvested\",\"svn_url\":\"https://github.com/cdidyk/harvested\",\"has_issues\":false,\"updated_at\":\"2011-10-04T05:52:47Z\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"forks\":0,\"has_downloads\":true,\"ssh_url\":\"git@github.com:cdidyk/harvested.git\",\"language\":\"Ruby\",\"clone_url\":\"https://github.com/cdidyk/harvested.git\",\"git_url\":\"git://github.com/cdi[...]
