{
    "http_interactions": [
        {
            "recorded_at": "Tue, 10 Apr 2012 23:13:02 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/user/repos?access_token=58b1341e500198e5aae723aa97e245840050781d"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "[{\"watchers\":1,\"pushed_at\":\"2012-03-14T20:42:16Z\",\"homepage\":\"\",\"svn_url\":\"https://github.com/cdidyk/hellogitworld\",\"has_downloads\":true,\"updated_at\":\"2012-03-14T20:53:19Z\",\"has_issues\":false,\"forks\":0,\"language\":\"Groovy\",\"fork\":true,\"clone_url\":\"https://github.com/cdidyk/hellogitworld.git\",\"ssh_url\":\"git@github.com:cdidyk/hellogitworld.git\",\"url\":\"https://api.github.com/repos/cdidyk/hellogitworld\",\"permissions\":{\"pull\":true,\"admin\":true,\"push\":true},\"has_wiki\":true,\"size\":2244,\"html_url\":\"https://github.com/cdidyk/hellogitworld\",\"private\":false,\"created_at\":\"2012-03-14T20:53:19Z\",\"owner\":{\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"login\":\"cdidyk\",\"url\":\"https://api.github.com/users/cdidyk\",\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"id\":13943},\"name\":\"hellogitworld\",\"mirror_url\":null,\"description\":\"Git Workshop Test Repo\",\"id\":3722211,\"open_issues\":0,\"git_url\":\"git://github.com/cdidyk/hellogitworld.git\"},{\"watchers\":1,\"pushed_at\":\"2011-03-31T22:01:53Z\",\"homepage\":\"http://rdoc.info/projects/zmoazeni/harvested\",\"svn_url\":\"https://github.com/cdidyk/harvested\",\"has_downloads\":true,\"updated_at\":\"2011-10-04T05:52:47Z\",\"has_issues\":false,\"forks\":0,\"language\":\"Ruby\",\"fork\":true,\"clone_url\":\"https://github.com/cdidyk/harvested.git\",\"ssh_url\":\"git@github.com:cdidyk/harvested.git\",\"url\":\"https://api.github.com/repos/cdi[...]
