{
    "http_interactions": [
        {
            "recorded_at": "Tue, 17 Apr 2012 15:12:24 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/user/repos?access_token=<ACCESS TOKEN>&type=all"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "[{\"mirror_url\":null,\"description\":\"Git Workshop Test Repo\",\"git_url\":\"git://github.com/cdidyk/hellogitworld.git\",\"updated_at\":\"2012-03-14T20:53:19Z\",\"owner\":{\"url\":\"https://api.github.com/users/cdidyk\",\"login\":\"cdidyk\",\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"id\":13943},\"url\":\"https://api.github.com/repos/cdidyk/hellogitworld\",\"has_wiki\":true,\"has_issues\":false,\"permissions\":{\"push\":true,\"admin\":true,\"pull\":true},\"forks\":0,\"homepage\":\"\",\"created_at\":\"2012-03-14T20:53:19Z\",\"open_issues\":0,\"language\":\"Groovy\",\"html_url\":\"https://github.com/cdidyk/hellogitworld\",\"size\":2244,\"fork\":true,\"svn_url\":\"https://github.com/cdidyk/hellogitworld\",\"ssh_url\":\"git@github.com:cdidyk/hellogitworld.git\",\"pushed_at\":\"2012-03-14T20:42:16Z\",\"name\":\"hellogitworld\",\"private\":false,\"id\":3722211,\"has_downloads\":true,\"watchers\":1,\"clone_url\":\"https://github.com/cdidyk/hellogitworld.git\"},{\"mirror_url\":null,\"description\":\"A Ruby Wrapper for the Harvest API http://www.getharvest.com/\",\"git_url\":\"git://github.com/cdidyk/harvested.git\",\"updated_at\":\"2011-10-04T05:52:47Z\",\"owner\":{\"url\":\"https://api.github.com/users/cdidyk\",\"login\":\"cdidyk\",\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.g[...]
