{
    "http_interactions": [
        {
            "recorded_at": "Tue, 10 Apr 2012 23:59:01 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/user/repos?access_token=bad%20creds"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "{\"message\":\"Bad credentials\"}"
                },
                "headers": {
                    "content-type": [
                        "application/json; charset=utf-8"
                    ],
                    "etag": [
                        "\"ca6a3702f840b6bff0bb1bca6be0337c\""
                    ],
                    "status": [
                        "401 Unauthorized"
                    ],
                    "www-authenticate": [
                        "Basic realm=\"GitHub\""
                    ]
                },
                "status": {
                    "code": 401,
                    "message": "Unauthorized"
                }
            }
        }
    ],
    "recorded_with": "VCR 2.0.1"
}
