{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/repos?access_token=bad%20creds","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"content-type":["application/json; charset=utf-8"], "status":["401 Unauthorized"], "www-authenticate":["Basic realm=\"GitHub\""], "etag":["\"ca6a3702f840b6bff0bb1bca6be0337c\""]},"body":{"encoding":"US-ASCII","string":"{\"message\":\"Bad credentials\"}"},"http_version":"1.1"},"recorded_at":"Thu, 12 Apr 2012 19:36:06 GMT"}],"recorded_with":"VCR 2.0.1"}