{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/jcoutu/gitnetworkitis?access_token=<ACCESS TOKEN>","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-ratelimit-limit":["5000"], "etag":["\"014b41bfea85c1c8b10b740dfccd6204\""], "x-oauth-scopes":[""], "x-ratelimit-remaining":["4998"], "x-accepted-oauth-scopes":["repo, public_repo"]},"body":{"encoding":"US-ASCII","string":"{\"pushed_at\":\"2012-04-11T16:55:14Z\",\"homepage\":\"\",\"svn_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"has_issues\":true,\"updated_at\":\"2012-04-11T16:55:14Z\",\"permissions\":{\"admin\":false,\"push\":true,\"pull\":true},\"forks\":1,\"has_downloads\":true,\"ssh_url\":\"git@github.com:jcoutu/gitnetworkitis.git\",\"language\":\"Ruby\",\"clone_url\":\"https://github.com/jcoutu/gitnetworkitis.git\",\"fork\":false,\"created_at\":\"2010-12-14T03:16:28Z\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis\",\"has_wiki\":true,\"size\":2696,\"git_url\":\"git://github.com/jcoutu/gitnetworkitis.git\",\"private\":false,\"description\":\"\",\"owner\":{\"gravatar_id\":\"4c464291fe5328e507a80deb38c50bd3\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4c464291fe5328e507a80deb38c50bd3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/jcoutu\",\"id\":76799,\"login\":\"jcoutu\"},\"name\":\"gitnetworkitis\",\"watchers\":3,\"html_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"id\":1166948,\"open_issues\":0,\"mirror_url\":null}"},"http_version":"1.1"},"recorded_at":"Fri, 13 Apr 2012 08:32:13 GMT"}],"recorded_with":"VCR 2.0.1"}