{
    "http_interactions": [
        {
            "recorded_at": "Wed, 11 Apr 2012 00:09:32 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis?access_token=58b1341e500198e5aae723aa97e245840050781d"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "{\"watchers\":3,\"pushed_at\":\"2012-03-06T21:58:13Z\",\"homepage\":\"\",\"svn_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"git_url\":\"git://github.com/jcoutu/gitnetworkitis.git\",\"mirror_url\":null,\"has_downloads\":true,\"updated_at\":\"2012-03-06T21:58:15Z\",\"has_issues\":true,\"forks\":1,\"language\":\"Ruby\",\"fork\":false,\"clone_url\":\"https://github.com/jcoutu/gitnetworkitis.git\",\"ssh_url\":\"git@github.com:jcoutu/gitnetworkitis.git\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis\",\"permissions\":{\"pull\":true,\"admin\":false,\"push\":true},\"has_wiki\":true,\"size\":2660,\"html_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"private\":false,\"created_at\":\"2010-12-14T03:16:28Z\",\"owner\":{\"login\":\"jcoutu\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4c464291fe5328e507a80deb38c50bd3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/jcoutu\",\"gravatar_id\":\"4c464291fe5328e507a80deb38c50bd3\",\"id\":76799},\"name\":\"gitnetworkitis\",\"description\":\"\",\"id\":1166948,\"open_issues\":0}"
                },
                "headers": {
                    "content-type": [
                        "application/json; charset=utf-8"
                    ],
                    "etag": [
                        "\"e4243944da55c61dd8b86fd95e220f2f\""
                    ],
                    "status": [
                        "200 OK"
                    ],
                    "x-accepted-oauth-scopes": [
                        "repo, public_repo"
                    ],
                    "x-oauth-scopes": [
                        ""
                    ],
                    "x-ratelimit-limit": [
                        "5000"
                    ],
                    "x-ratelimit-remaining": [
                        "4999"
                    ]
                },
                "status": {
                    "code": 200,
                    "message": "OK"
                }
            }
        }
    ],
    "recorded_with": "VCR 2.0.1"
}
