{
    "http_interactions": [
        {
            "recorded_at": "Tue, 17 Apr 2012 15:12:24 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis?access_token=<ACCESS TOKEN>"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "{\"has_downloads\":true,\"watchers\":3,\"clone_url\":\"https://github.com/jcoutu/gitnetworkitis.git\",\"git_url\":\"git://github.com/jcoutu/gitnetworkitis.git\",\"created_at\":\"2010-12-14T03:16:28Z\",\"ssh_url\":\"git@github.com:jcoutu/gitnetworkitis.git\",\"mirror_url\":null,\"description\":\"\",\"has_wiki\":true,\"has_issues\":true,\"html_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis\",\"forks\":1,\"fork\":false,\"permissions\":{\"pull\":true,\"admin\":false,\"push\":true},\"open_issues\":1,\"size\":2784,\"homepage\":\"\",\"private\":false,\"svn_url\":\"https://github.com/jcoutu/gitnetworkitis\",\"pushed_at\":\"2012-04-13T18:13:12Z\",\"updated_at\":\"2012-04-13T18:13:12Z\",\"owner\":{\"avatar_url\":\"https://secure.gravatar.com/avatar/4c464291fe5328e507a80deb38c50bd3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/jcoutu\",\"login\":\"jcoutu\",\"gravatar_id\":\"4c464291fe5328e507a80deb38c50bd3\",\"id\":76799},\"name\":\"gitnetworkitis\",\"id\":1166948,\"language\":\"Ruby\"}"
                },
                "headers": {
                    "content-type": [
                        "application/json; charset=utf-8"
                    ],
                    "etag": [
                        "\"982069f15b83a305917b26480a2c1b72\""
                    ],
                    "status": [
                        "200 OK"
                    ],
                    "x-accepted-oauth-scopes": [
                        "repo, public_repo"
                    ],
                    "x-oauth-scopes": [
                        ""
                    ],
                    "x-ratelimit-limit": [
                        "5000"
                    ],
                    "x-ratelimit-remaining": [
                        "4980"
                    ]
                },
                "status": {
                    "code": 200,
                    "message": "OK"
                }
            }
        }
    ],
    "recorded_with": "VCR 2.0.1"
}
