{
    "http_interactions": [
        {
            "recorded_at": "Tue, 17 Apr 2012 15:12:18 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?sha=3d68c13854c8898f8817e2cc60757c41c72ec1de&access_token=<ACCESS TOKEN>&per_page=15"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "[{\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/commits/3d68c13854c8898f8817e2cc60757c41c72ec1de\",\"commit\":{\"message\":\"modifies test file so that there's something to commit\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/git/commits/3d68c13854c8898f8817e2cc60757c41c72ec1de\",\"committer\":{\"email\":\"cdidyk@gmail.com\",\"date\":\"2012-04-11T09:52:27-07:00\",\"name\":\"Chris Didyk\"},\"author\":{\"email\":\"cdidyk@gmail.com\",\"date\":\"2012-04-11T09:52:27-07:00\",\"name\":\"Chris Didyk\"},\"tree\":{\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/git/trees/1d444044117239f41e68f8ba6c815874fae3dc0e\",\"sha\":\"1d444044117239f41e68f8ba6c815874fae3dc0e\"}},\"committer\":{\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/cdidyk\",\"login\":\"cdidyk\",\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"id\":13943},\"author\":{\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/cdidyk\",\"login\":\"cdidyk\",\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"id\":13943},\"parents\":[{\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/commits/b1907bcca525cb5fcacaa492b828126d0c8cc91c\",\"sha\":\"b1907bcca525cb5fcacaa492b828126d0c8cc91c\"}],\"sha\":\"3d68c13854c8898f8817e2cc60757c41c72ec1de\"},{\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/commits/b1907bcca525cb5fcacaa492b828126d0c8cc91c\",\"commit\":{\"message\":\"adds test file\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/git/commits/b1907bcca525cb5fcacaa492b828126d0c8cc91c\",\"com[...]
        {
            "recorded_at": "Tue, 17 Apr 2012 15:12:18 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?access_token=<ACCESS TOKEN>&last_sha=f4f6825a73a95a451cdd9a22dc18541fc12557f5&per_page=15&sha=3d68c13854c8898f8817e2cc6[...]
[...]
        {
            "recorded_at": "Wed, 18 Apr 2012 00:19:02 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?sha=3d68c13854c8898f8817e2cc60757c41c72ec1de"
            },
            "response": {
                "body": {
      [...]
[...]
