{
    "http_interactions": [
        {
            "recorded_at": "Thu, 12 Apr 2012 19:36:41 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?sha=3d68c13854c8898f8817e2cc60757c41c72ec1de&per_page=100&access_token=<ACCESS TOKEN>"
            },
            "response": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": "[{\"commit\":{\"committer\":{\"email\":\"cdidyk@gmail.com\",\"date\":\"2012-04-11T09:52:27-07:00\",\"name\":\"Chris Didyk\"},\"author\":{\"email\":\"cdidyk@gmail.com\",\"date\":\"2012-04-11T09:52:27-07:00\",\"name\":\"Chris Didyk\"},\"message\":\"modifies test file so that there's something to commit\",\"tree\":{\"sha\":\"1d444044117239f41e68f8ba6c815874fae3dc0e\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/git/trees/1d444044117239f41e68f8ba6c815874fae3dc0e\"},\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/git/commits/3d68c13854c8898f8817e2cc60757c41c72ec1de\"},\"committer\":{\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"url\":\"https://api.github.com/users/cdidyk\",\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"id\":13943,\"login\":\"cdidyk\"},\"author\":{\"gravatar_id\":\"5c3fdf85d582cd802b60971445eefb59\",\"url\":\"https://api.github.com/users/cdidyk\",\"avatar_url\":\"https://secure.gravatar.com/avatar/5c3fdf85d582cd802b60971445eefb59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"id\":13943,\"login\":\"cdidyk\"},\"parents\":[{\"sha\":\"b1907bcca525cb5fcacaa492b828126d0c8cc91c\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/commits/b1907bcca525cb5fcacaa492b828126d0c8cc91c\"}],\"sha\":\"3d68c13854c8898f8817e2cc60757c41c72ec1de\",\"url\":\"https://api.github.com/repos/jcoutu/gitnetworkitis/commits/3d68c13854c8898f8817e2cc60757c41c72ec1de\"},{\"commit\":{\"committer\":{\"email\":\"cdidyk@gmail.com\",\"date\":\"2012-04-11T09:51:24-07:00\",\"name\":\"Chris Didyk\"},\"author\":{\"email\":\"cdidyk@gmail.com\[...]
        {
            "recorded_at": "Thu, 12 Apr 2012 22:06:09 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?sha=3d68c13854c8898f8817e2cc60757c41c72ec1de&access_token=<ACCESS TOKEN>&per_page=15"
            },
            "respo[...]
        {
            "recorded_at": "Thu, 12 Apr 2012 22:06:10 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "https://api.github.com/repos/jcoutu/gitnetworkitis/commits?access_token=<ACCESS TOKEN>&last_sha=f4f6825a73a95a451cdd9a22dc18541fc12557f5&per_page=15&sha=3d68c13854c8898f8817e2cc6[...]
[...]
